*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection{
    color: white;
    background-color: black;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #f7f7f7;
}

#cursor{
    height: 150px;
    width: 150px;
    background-color: aqua;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}

#nav{
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#navpart1 svg{
    display: block;
}

#navpart1{
    /* background-color: red; */
    height: 84px;
    overflow: hidden;
}

#part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links{
    padding: 10px;
}

#part2 #links a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-right: 30px;
    text-transform: capitalize;
    font-family: gilroy;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
}

#icons i{
    font-size: 18px;
    margin:0 20px;
     font-weight: 100;
}

#page1{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
   
}

#page1 h1{
   font-size: 15.8vw;
   text-transform: uppercase;
   line-height: 14vw;
   font-family: futura;
   letter-spacing: -15px;
}

#video-container{
    height: 100vh;
    width: 100%;
    /* background-color: gray; */
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2vw;
    background-color: black;
    color: #fff;
    font-size: 1.5vw;
    position: fixed;
    border-radius: 50%;
    font-family: futura;
    opacity: 0;
    scale: 0;
}

#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: aliceblue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
}

#page2 .elem{
    height: 100%;
    width: 31%;
    /* background-color: aqua; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets{
    position: absolute;
    height: 60px;
    width: 70%;
    /* background-color: rgb(196, 196, 189); */
    border-radius: 50px;
    transition: all ease .3s;
}

#page2 .elem .dets:hover{
    height: 200px;
}





#page3{
    height: 120vh;
    width: 100%;
    /* background-color: blueviolet; */
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

 #page3 .child{
  height: 54vh;
  width: 38vw;
  /* background-color: rgb(243, 18, 18);
  border: 2px solid black; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3 .child img{
    height: 100%;
}


@media (max-width:600px) {

    #nav{
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    #navpart1 svg{
        display: block;
        height: 63px;
        width: 80px;
    }
    
    #navpart1{
        /* background-color: red; */
        height: 63px;
        overflow: hidden;
    }
    
    #part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    #links{
        padding: 10px;
        display: none;
    }
    
    #part2 #links a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        margin-right: 30px;
        text-transform: capitalize;
        font-family: gilroy;
    }
    #icons{
        padding: 10px;
        border-radius: 50px;
        background-color: #f7f7f7;
    }
    
    #icons i{
        font-size: 18px;
        margin:0 20px;
         font-weight: 100;
    }

    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;  
    }

    #page1 h1{
        font-size: 15.5vw;
        letter-spacing: -3px;

     }

     #video-container{
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play{
        padding: 7.5vw 5.2vw;
        font-size: 4.5vw;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }

    #page2{
        min-height: 100vh;
        width: 100%;
        background-color: aliceblue;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5vw 3vw;
        /* background-color: red; */

    }
    
    #page2 .elem{
        height: 100vh;
        width: 100%;
        background-color: aqua;
        overflow: hidden;
        margin-bottom: 3vw;
    }
    
    #page3{
        height: 120vh;
        width: 100%;
        /* background-color: blueviolet; */
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
     #page3 .child{
      height: 54vh;
      width: 88vw;
      /* background-color: rgb(243, 18, 18);
      border: 2px solid black; */
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15vw;
    }
    
    #page3 .child img{
        height: 100%;
    }
}